.wc-message {
    /*height: 35px;*/
    border: 1px solid #cecece;
    margin-bottom: 5px;
    /*line-height: 35px;*/
    padding: 0 0 0 10px;
}

.input-message {
    display: flex;
}

.input-message input {
    margin-right: 10px;
}

.wc-message-box {
    height: 500px;
    overflow: auto;
}

.wc-message img {
    height: 48px;
    width: 48px;
}

.wc-message-text {
    margin-bottom: 10px;
}

.wc-message-user {
    display: flex;
    align-items: center;
}