 <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>

        <link href="../static/lib/bootstrap-reboot.min.css" th:href="@{/lib/bootstrap-reboot.min.css}" rel="stylesheet" />
        <link href="../static/lib/bootstrap.min.css" th:href="@{/lib/bootstrap.min.css}" rel="stylesheet" />
        <link href="../static/css/room.css" th:href="@{/css/room.css}" rel="stylesheet" />

        <script th:src="@{/lib/jquery-3.4.1.min.js}" src="../static/lib/jquery-3.4.1.min.js" ></script>
        <script th:src="@{/js/image.js}" src="../static/js/image.js" ></script>


    </head>

    <body>

        <div class="content">

            <div th:include="fragments/logout :: login"></div>

            <div class="wc-rooms">
                <h2>Image</h2>

                <img id="image-viewer" width="400" height="400">


                <div>
                    <input type="file" class="form-control" id="image-input" accept="image/*" data-max/>
                    <input type="hidden" class="form-control" id="image-input-data" />
                </div>

                <div>
                    <button class="btn btn-outline-primary" id="image-submit">Submit Base64</button>
                </div>

                <form method="post" enctype="multipart/form-data" action="/image/file">
                    <input type="file" name="image" />
                    <button type="submit" class="btn">Submit</button>
                </form>


            </div>

        </div>

    </body>

</html>