<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>

        <link href="../static/lib/bootstrap-reboot.min.css" th:href="@{/lib/bootstrap-reboot.min.css}" rel="stylesheet" />
        <link href="../static/lib/bootstrap.min.css" th:href="@{/lib/bootstrap.min.css}" rel="stylesheet" />
        <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet" />

    </head>

    <body>

        <div class="content">

            <form class="wc-form wc-middle" action="/registration" method="post" th:object="${request}">

                <div class="form-group">
                    <h2>Registration in web-chat</h2>
                </div>

                <div class="form-group">
                    <label for="login">Login</label>
                    <input id="login" name="login" class="form-control" th:value="${request.login}" />
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" name="password" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="firstName">First name</label>
                    <input id="firstName" name="firstName" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="lastName">Last name</label>
                    <input id="lastName" name="lastName" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="age">Age</label>
                    <input id="age" name="age" class="form-control" />
                </div>

                <button type="submit" class="btn btn-outline-primary">Login</button>

            </form>


        </div>

    </body>

</html>